# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl
plano
terrafile.tf

# logs
*.log

# Directories
.terraform/
_temp/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignored vscode files
.vscode/